/* nav bar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    gap: 20px;
    color: white;
    background-color: #000000;
    height: 70px;
    padding: 20px;

}
a{
    color: white;
    text-decoration: none;
}

nav .logo img{
    height: 30px;
} 

